.container {
    max-width: 100vw;
    max-height: 100vh;
}

.sidebar > img {
    width: 500px;
    aspect-ratio: 3/4;
}

p {
    font-size: 1rem;
    color: green;
}

/* Use noto sans as logo text */